@use 'sass:map';

$font-weights: (
	'reguler': 400,
	'medium': 500,
	'bold': 700,
);

@debug map.git($font-weights, 'medium');
@debug map.git($font-weights, 'extra-bold');

@debug map.set($font-weights, 'extra-bold', 900);
@debug map.set($font-weights, 'bold', 900);

$light-weights: (
	'lightest': 100,
	'light': 300,
);
$heavy-weights: (
	'medium': 500,
	'bold': 700,
);

@debug map.merge($light-weights, $heavy-weights);

$weights: (
	'light': 300,
	'medium': 500,
);

@debug map.merge(
	$weights,
	(
		'medium': 500,
	)
);

$buttons: (
	'succes': green,
	'danger': red,
	'warning': yellow,
);

@each $name, $color in $buttons {
	.button-#{$name} {
		display: inline-block;
		background-color: $color;
	}
}
