$font-family: Arial, Helvetica, sans-serif;
$box-shadow: 10px 15px 0 0;

.selector {
	font-family: $font-family;
}

.another-selector {
	box-shadow: $box-shadow gray;
}

$variable1: [];
$variable2: ();

@use 'sass:list';

@debug list.nth(10px 12px 16px, 3);
@debug list.nth([lina lina2 lina3], -1);

@use 'sass:list';

@debug append(10px 12px 16px, 25px);
@debug append([col1-lina1], col1-lin);

@use 'sass:list';

@debug list.index(1px solid red, 1px);
@debug list.index(1px solid red, solid);
@debug list.index(1px solid red, dashed);
