.error {
	border: 1px #f00;
	background-color: #fdd;

	&--serious {
		@extend .error;
		border-width: 3px;
	}
}

.another-error {
	@extend .error;
}

%button {
	border-radius: 4px;
	color: white;
	background-color: black;
}

.strong-button {
	@extend %button;
	font-weight: bold;
}
